.button {
    display: flex;
    background: var(--primary-font-color);
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--secondary-font-color);
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-font-color);
    transition: 0.5s ease-in-out;
}

.button.info {
    width: 30%;
    padding: 1rem;
}

.button:hover {
    background: var(--secondary-font-color);
    color: var(--primary-font-color);
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 850px) {
    .button.info {
        margin: 0 auto;
        width: 80%;
    }
}