.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info-container:first-child {
    margin-top: 4rem;
}

.info-content .button {
    display: none;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 4rem 4rem 8rem;
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--primary-font-color);
}

.about-info h2 {
    font-size: 3rem;
    font-weight: 700;
}

.about-info p {
    font-size: 1rem;
    text-align: center;
}

.about-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.about-info img {
    height: 450px;
    border-radius: 6px;
    box-shadow: -1px 1px 62px 18px rgba(0, 0, 0, 0.2);
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
    gap: 2rem;
}

@media screen and (max-width: 1450px) {
    .team {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .team>* {
        flex: 1 1 calc(50% - 2rem);
        margin-bottom: 5rem;
    }
}


@media screen and (max-width: 850px) {
    .about-container {
        gap: 0;
    }

    .info-container {
        margin: 0 2rem;
    }

    .about-info {
        padding: 2rem 1rem;
    }

    .team {
        flex-direction: column;
        width: 100%;
    }

    .team>* {
        margin-bottom: 5rem;
    }
}