:root {
    --primary-font-color: #fff;
    --secondary-font-color: #222;

    --primary-color: #024059;
    --secondary-color: #FF4E00;
    --tertiary-color: #FCC801;
    --quaternary-color: #FEF8E5;
    --quinary-color: #00334B;

    --rgb-primary-color: 2, 64, 89;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--quaternary-color);
}



